body {
  background-color: #cccccc;
}

.calc_body {
  padding: 0px;
  margin: 2px;
  width : 240px;
}

.btn_util {
  font-size: 20px;
  width : 60px;
  height : 50px;
}

.result_util {
  font-size: 25px;
  padding: 5px;
  border: 1px solid #AAAAAA;
  background-color: #EEEEEE;
  text-align: right;
  width : (100% - 2px);
  height : 30px;
}
